<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1>Admin</h1>
            <h2>Schedule</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Date</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Time</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Location</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Players</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="date" class="form-control" id="date" placeholder="Date"></td>
                    <td><input type="time" class="form-control" id="time" placeholder="Time"></td>
                    <td><input type="text" class="form-control" id="location" placeholder="Location"></td>
                    <td><input type="text" class="form-control" id="players" placeholder="Players"></td>
                    <td>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                </tr>
                <tr>
                    <td>2/2/2</td>
                    <td>10:10am</td>
                    <td>Boston</td>
                    <td>Alice, Bob</td>
                    <td>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </td>
                </tr>
                <tr>
                    <td>3/3/3</td>
                    <td>4:00pm</td>
                    <td>Seattle</td>
                    <td>Bob, Max</td>
                    <td>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </td>
                </tr>
                <tr>
                    <td>1/1/1</td>
                    <td>5:00pm</td>
                    <td>Chicago</td>
                    <td>Max, Alice</td>
                    <td>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>