<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1>Welcome to Tennis Scheduler!</h1>
            <br/>
            <br/>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="125" height="125" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Create Schedules</h4>
                    <span class="text-muted">Quickly create and update schedules for clinics and matches.</span>
                </div>

                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="125" height="125" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Update Availability</h4>
                    <span class="text-muted">Let your fellow players know when you're going to be free to play.</span>
                </div>

                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="125" height="125" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Find Players</h4>
                    <span class="text-muted">Easily search for new tennis partners and subs for your groups.</span>
                </div>
            </div>

            <div class = "row">
                <div class="col-md-9">
                    <p>Tennis Scheduler is here to make organizing play easier and more efficient than ever. Players can create and update schedules quickly and on the go. They can also update their availability and find other players to match-up with or ask to be subs. Tennis Scheduler provides a central hub where all tennis players can come together to coordinate and communicate with one another so that everyone can have the best experience on and off the court.</p>
                </div>

            </div>

        </div>
    </div>
</div>