<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->

            <h1>Schedule Details</h1>

            <div class="row">
                <div class="col-sm-offset-1">
                    Date: {{schedule.formattedDate}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-1">
                    Time: {{schedule.formattedTime}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-1">
                    Player Usernames: {{schedule.formattedPlayers}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-1">
                    Location: {{schedule.location}}
                </div>
            </div>

       <!-- </div>-->
    </div>
</div>
