<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tennis Scheduler</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="https://github.com/BlackrockDigital/startbootstrap-business-frontpage/blob/gh-pages/css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Tennis Scheduler</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h2>What We Do</h2>
            <p>Tennis Scheduler is here to make organizing play easier and more efficient than ever.
                Whether it is a team match or a weekly clinic, players will be able to view and update their schedules
                quickly and even on the go. Tennis Scheduler provides a central hub where all players can come together to coordinate
                and communicate with one another giving everyone the best experience on and off the court.</p>
            <p>
                <br/>
                <a class="btn btn-default" href="#/register">Join Tennis Scheduler Now &raquo;</a>
            </p>
        </div>
        <div class="col-sm-2">
           <!-- <h2>Contact Us</h2>
            <address>
                <strong>Start Bootstrap</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(123) 456-7890
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
            </address> -->
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://www.neutennis.org/uploads/2/2/4/3/22436796/6001190_orig.jpg" alt="">
            <h2>Create Schedules</h2>
            <p>Quickly create and update schedules for clinics and matches.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://www.neutennis.org/uploads/2/2/4/3/22436796/6852154_orig.jpg" alt="">
            <h2>Update Availability</h2>
            <p>Let your fellow players know when you're going to be free to play.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://www.neutennis.org/uploads/2/2/4/3/22436796/8623895_orig.jpg" alt="">
            <h2>Find Other Players</h2>
            <p>Easily search for new tennis partners and subs for your groups.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->

</body>

</html>