<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->

            <h1>Welcome to Tennis Scheduler</h1>

            <br/>

            <div class = "row">
                <div class="col-md-5">
                    <p>Tennis Scheduler is here to make organizing play easier and more efficient than ever.
                        Whether it is a team match or a weekly clinic, players will be able to view and update their schedules
                        quickly and even on the go. Tennis Scheduler provides a central hub where all players can come together to coordinate
                        and communicate with one another giving everyone the best experience on and off the court.</p>
                </div>

                <div class="col-md-7">
                    PUT AN IMAGE OVER HERE
                </div>
            </div>

            <br/>
            <br/>

            <h3>What Tennis Scheduler Offers</h3>

            <br/>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-4 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="125" height="125" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Create Schedules</h4>
                    <span class="text-muted">Quickly create and update schedules for clinics and matches.</span>
                </div>

                <div class="col-xs-6 col-sm-4 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="125" height="125" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Update Availability</h4>
                    <span class="text-muted">Let your fellow players know when you're going to be free to play.</span>
                </div>

                <div class="col-xs-6 col-sm-4 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="125" height="125" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Find Players</h4>
                    <span class="text-muted">Easily search for new tennis partners and subs for your groups.</span>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <button ng-click="login()" class="btn btn-primary btn-block">Login</button>
                </div>
                <div class="col-md-4">
                    <button ng-click="register()" class="btn btn-primary btn-block">Register</button>
                </div>
            </div>

            <br/>
            <br/>

        <!--</div>-->
    </div>
</div>