<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1>Search For Players</h1>

            <div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>

            <input ng-model="playerName" class="form-control" placeholder="Roger Federer"/>
            <button ng-click="search(playerName)" class="btn btn-primary btn-block">Search</button>
            <table ng-show="players" class="table table-striped">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Location</th>
                    <th>Level</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in players">
                    <td ng-click="profilePage($index)">{{player.firstName}} {{player.lastName}}</td>
                    <td>{{player.location}}</td>
                    <td>{{player.level}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>